.wdr-sidebar--collapsed .wdr-sidebar__title,
.wdr-sidebar--collapsed .wdr-sidebar__section-label,
.wdr-sidebar--collapsed .wdr-sidebar__item-label,
.wdr-sidebar--collapsed .wdr-sidebar__item-badge {
  display: none;
}

.wdr-sidebar--collapsed .wdr-sidebar__item {
  justify-content: center;
  padding: 0;
}

.wdr-sidebar--collapsed .wdr-sidebar__body {
  padding: var(--wdr-space-2) var(--wdr-space-1);
}
